@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Radley);
@import url(https://fonts.googleapis.com/css?family=Calligraffitti);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

/*Unversal CSS Rules*/
* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  font-family:'Allerta', sans-serif;
}

img {
  max-width: 100%;
  height:auto;
  display:block;
}

body{
  height:100%;
}

a, h2, h3, h4 {
font-family: 'Radley', serif;
font-weight: bolder;
}

p {
font-family:'Amatic SC', cursive;
font-weight: bolder;
}

header {
  width:100%;
  margin: 0 auto;
  background-color:#e6c073;
  text-align: center;
  color:white;
}

h1 {
  margin:0;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}

h1 a {
  text-decoration: none;
  color:white;
  margin:0;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}

.containhead {
  width:75%;
  margin:0 auto;
}

nav {
  background-color:#2F5241;
  padding:.5em 0 .5em .5em;
}

nav::after {
  display:table;
  content: "";
  clear:both;
}

ul {
  list-style-type: none;
}

li {
  float:left;
  width:20%;
  text-align: center;
  box-sizing: border-box;
  padding-right:.5em;
}

nav a {
  text-decoration: none;
  color:white;
  font-size: .80em;
}

nav a:hover {
  color:#778899;
}

/*-----------------------Mobile First--------------------*/

/*Universal Mobile*/

.mainhead {
  position:fixed;
  top:0;
  right:0;
  left:0;
}
/*main page*/

.homeinvite {
  background-color: #D3D0A8;
}

.homecontent {
  width:75%;
  margin:0 auto;
}

.homecontent p {
  font-family: 'Amatic SC', cursive;
  color:white;
}

.homecontent span {
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.main {
  padding-top:8.5em;
  }

/*proposal page*/

.piccontainer::after{
  display:table;
  content: "";
  clear:both;
}

.mainp {
  margin:0 auto;
  width:99.9%;
  }

.mainp img {
  margin:0 auto;
  }

.mainp p {
  color:black;
  }

/*wedding details*/

.maindetails {
  position:fixed;
  height:100%;
  width:100%;
  background-image: url("../img/bmore4.jpg");
  background-size:cover;
  background-position: center;
  background-postion:fixed;
  background-repeat: no-repeat;
  overflow:auto;
}

p  {
  color:white;
  font-weight: bolder;
}

h3, h4 {
  color:white;
  font-weight: bolder;
  margin-bottom:.5em;
}

.detailscontent {
  width:75%;
  margin:1.5em auto 1em auto;
  padding:1em 0 1em 0;
  opacity:.9;
}

.detailscontent::after{
  display:table;
  content: "";
  clear:both;
}

.col-1-2{
  background-color: #D3D0A8;
  border:.2em white solid;
  margin-bottom:2%;
}

.menu {
  width:75%;
  margin:0 auto 1em auto;
  padding:1em 0 1em 0em;
  opacity:.9;
}

.col-1-3 {
  background-color: #D3D0A8;
  border:.2em white solid;
  margin-bottom:2%;
}

.menu::after {
  display:table;
  content: "";
  clear:both;
}

h2 {
  color:white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

.col-1-3 img {
  position: relative;
  top:0;
}

.test {
  opacity: 0;
}

.test:hover {
  opacity:1;
}

/* ==========================================================================
   Regular Media Queries
   ========================================================================== */

@media only screen and (min-width: 452px) {

.main {
  padding-top:6em;
}

p {
  font-size:1.3em;
}

@media only screen and (min-width: 480px) {

  p {
    font-size:1.35em;
  }

@media only screen and (min-width: 506px) {

.main {
  padding-top:4.8em;
}

p {
  font-size:1.42em;
}

.col-1-2 {
  width:46%;
  float:left;
  margin-right:2.6666666666666667%;
  height:17em;
}

.top .col-1-2:first-of-type {
  margin-left:2.6666666666666667%;
  }

.bottom .col-1-2:first-of-type {
  margin-left:2.6666666666666667%;
}

.col-1-3 {
  width:30.3333333333333333%;
  float:left;
  margin-right:2.250000000000003%;
  height:11em;
}

.col-1-3:first-of-type {
  margin-left:2.250000000000003%;
}

@media only screen and (min-width: 550px) {
  .col-1-2 {
    height:17.5em;
  }

  p {
    font-size:1.45em;
  }
}

@media only screen and (min-width: 600px) {
  .col-1-2 {
    height:16.5em;
  }

  p {
    font-size:1.5em;
  }
}

@media only screen and (min-width: 700px) {
  .col-1-2 {
    height:15em;
  }

  p {
    font-size:1.55em;
  }

  .col-1-3 {
    height:10em;
  }
}

@media only screen and (min-width: 768px) {

.mainhead {
  position:static;
}

.main {
  padding:0;
}

h1 {
  font-size: 2em;
}

p {
  font-size:1.6em;
}

nav a {
  font-size: .9em;
}

.col-1-2 {
  height:14.75em;
}

.col-1-3 {
  height:9em;
}

@media only screen and (min-width: 900px) {

h1 {
  font-size: 2.5em;
}

p {
  font-size:1.7em;
}

nav a {
  font-size: 1em;
}

.col-1-2 {
  height:13.75em;
}

@media only screen and (min-width: 1140px) {



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
